<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact us at:
  <div>
  David Lu:
  <a href="#">placeholder</a>
  <div>
  Donald Duy:
  <a href="dduy@sfu.ca">dduy@sfu.ca</a>
  <div>
  Brock Yuan:
  <a href="#">placeholder</a>
  <div>
  Louie Lu:
  <a href="#">placeholder</a>
</p>
