<div class="center jumbotron">
  <h1>A Recipe A Day</h1>

  <h2>
    Welcome to A Recipe A Day! Are you ready to start your first dish?
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
