.Icon-container {
  margin-top: 20px;
  font-size: 10px;
}

.Icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  background-size: cover;
  display: inline-block;
}

.Icon-glutenFree {
  background-image: url('/assets/public/gluten_free.png')
}

.Icon-dairyFree {
  background-image: url('/assets/public/dairy_free.png')
}

.Icon-vegetarian {
  background-image: url('/assets/public/vegetarian.png')
}

.Icon-vegan {
  background-image: url('/assets/public/vegan.png')
}

.Icon-like {
  background-image: url('/assets/public/like.png')
}

.Icon-clock {
  background-image: url('/assets/public/clock.png')
}
